In [5]:
# O objetivo desse arquivo é explicar as funções da biblioteca pandas usadas em análises de dados


                                                # IMPORTAÇÃO DOS DADOS

# O primeiro passo para qualquer análise de dados é, obviamente, importar sua base de dados. Para isso, armazenamos a base de dados em uma variável qualquer da seguinte forma:

    #   dados = pandas.read_'extensão do arquivo'("caminho do arquivo")   /   o pandas reconhece várias extensões diferentes, que aparecem como sugestões ao programar no VS code

# Outros argumentos podem ser colocados após o caminho do arquivo. Em arquvios '.csv', podemos especificar o separador correto do arquivo. A biblioteca pandas utiliza como valor padrão 'sep = ',''. Porém, certifique-se que sua base de dados utilize ',' como separador. Em países onde a ',' é utilizada como separador decimal, como no Brasil, é comum encontrar bases de dados nesse modelo que utilizam ';' ou outro caractere como separador. Se for o caso, utilize 'sep = ';''.
# Em planilhas do Excel, podemos especificar a planilha específica que queremos importar. A biblioteca pandas utiliza como valor padrão 'sheet_name = 0', o que seleciona a primeira planilha do arquivo excel. Você também pode especificar a planilha pelo nome, como 'sheet_name = 'nome_da_planilha''. Esses são os 2 argumentos mais utilizados, mas existem outros argumentos para personalizar a importação na documentação oficial do panda: https://pandas.pydata.org/pandas-docs/stable/reference/io.html

# Exemplo:

import pandas

base_de_dados = pandas.read_csv(r"C:\Users\mathy\OneDrive\Área de Trabalho\PROGRAMAÇÃO\Jornada Python\Python-tools\Análise de Dados\Arquivos auxiliares\cancelamentos.csv", sep = ',')

display(base_de_dados)

,CustomerID,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
881661,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [11]:
                                            # VISUALIZAÇÃO DA BASE DE DADOS

# '.head()': retorna as n primeiras linhas do DataFrame. Valor padrão: 5

display(base_de_dados.head())   # mostra as 5 primeiras linhas do DataFrame
display(base_de_dados.head(base_de_dados.shape[0]))   # mostra todas as linhas do DataFrame. Retorna o mesmo que 'display(base_de_dados)'

,CustomerID,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0

,CustomerID,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
881661,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [13]:
# '.shape': Retorna uma tupla contendo a quantidade de linhas e colunas do DataFrame, respectivamente.

print('Linhas:', base_de_dados.shape[0])
print('Colunas:', base_de_dados.shape[1])

Linhas: 881666
Colunas: 12