In [1]:
# OBJETIVO: VOCÊ TRABALHA EM UMA EMPRESA QUE TEM UMA GRANDE BAE DE DADOS DOS CLIENTES. VOCÊ DEVE ENCONTRAR O MOTIVO DOS CANCELAMENTOS DE CONTRATOS RECENTES E PROPOR UMA SOLUÇÃO. TAMBÉM DEVE MOSTRAR AS ANÁLISES EM FORMA DE GRÁFICOS.

# 1) IMPORTAR A BASE DE DADOS

import pandas as pd

dados = pd.read_csv(r"C:\Users\mathy\OneDrive\Área de Trabalho\PROGRAMAÇÃO\Jornada Python\Python-tools\Análise de Dados\Arquivos auxiliares\cancelamentos.csv")   # importa a base de dados e armazena na variável 'dados'

In [2]:
# 2) VISUALIZAR A BASE DE DADOS

display(dados)

,CustomerID,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
881661,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [3]:
# 3) TRATAR A BASE DE DADOS

dados = dados.drop('CustomerID', axis = 1)   # DELETA A COLUNA 'CustomerID', POIS É APENAS UM CÓDIGO ALEATÓRIO DO CLIENTE E NÃO FAZ DIFERENÇA NA ANÁLISE. INFORMAÇÃO QUE NÃO AJUDA, ATRAPALHA. O ARGUMENTO 'axis' SERVE PARA ESPECIFICAR SE É UMA LINHA (axis = 0) OU UMA COLUNA (axis = 1)

print(dados.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881666 entries, 0 to 881665
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   idade                   881664 non-null  float64
 1   sexo                    881664 non-null  object
 2   tempo_como_cliente      881663 non-null  float64
 3   frequencia_uso          881663 non-null  float64
 4   ligacoes_callcenter     881664 non-null  float64
 5   dias_atraso             881664 non-null  float64
 6   assinatura              881661 non-null  object
 7   duracao_contrato        881663 non-null  object
 8   total_gasto             881664 non-null  float64
 9   meses_ultima_interacao  881664 non-null  float64
 10  cancelou                881664 non-null  float64
dtypes: float64(8), object(3)
memory usage: 74.0+ MB
None

In [4]:
# VEJA QUE HÁ MAIS LINHAS TOTAIS DO QUE LINHAS NÃO-NULAS ('Non-Null Count'). ISSO PORQUE EXISTEM LINHAS COM ALGUMA INFORMAÇÃO EM BRANCO. VAMOS DELETAR ESSAS LINHAS UTILIZANDO O COMANDO:

dados = dados.dropna()   # DELETA AS LINHAS QUE CONTÉM PELO MENOS 1 INFORMAÇÃO VAZIA. O COMANDO '.dropna()' possui como parâmetros-padrão: 'dropna(axis = 0, any)'

print(dados.info())

<class 'pandas.core.frame.DataFrame'>
Index: 881659 entries, 0 to 881665
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   idade                   881659 non-null  float64
 1   sexo                    881659 non-null  object
 2   tempo_como_cliente      881659 non-null  float64
 3   frequencia_uso          881659 non-null  float64
 4   ligacoes_callcenter     881659 non-null  float64
 5   dias_atraso             881659 non-null  float64
 6   assinatura              881659 non-null  object
 7   duracao_contrato        881659 non-null  object
 8   total_gasto             881659 non-null  float64
 9   meses_ultima_interacao  881659 non-null  float64
 10  cancelou                881659 non-null  float64
dtypes: float64(8), object(3)
memory usage: 80.7+ MB
None

In [5]:
# 4) ANALIZAR COMO ESTÃO OS CANCELAMENTOS

# VAMOS ANALIZAR A TAXA DE CANCELAMENTO

print(dados['cancelou'].value_counts(normalize = True))   # MOSTRA A PORCENTAGEM DE CADA OPÇÃO DA COLUNA 'cancelou'. 1 significa sim e 0 significa não.

cancelou
1.0    0.567105
0.0    0.432895
Name: proportion, dtype: float64

In [6]:
# 5) ANALIZAR COM PROFUNDIDADE E ENCONTRAR O MOTIVO DO PROBLEMA E PROPOR UMA SOLUÇÃO

    # NÃO HÁ UM CAMINHO CERTO LOGO DE CARA, MAS DEVEMOS ESCOLHER UMA INFORMAÇÃO E VER SE ELA TEM RELAÇÃO COM OS CANCELAMENTOS. NESSE CASO, ANALIZAREMOS A RELAÇÃO DA COLUNA 'duracao_contrato' COM OS CANCELAMENTOS

print(dados['duracao_contrato'].value_counts(normalize = True))

duracao_contrato
Annual       0.401964
Quarterly    0.400448
Monthly      0.197588
Name: proportion, dtype: float64

In [27]:
# 19% DOS CLIENTES POSSUEM/POSSUIAM O CONTRATO MENSAL.

numeric_df = dados.select_dtypes(include = 'number')   # CRIA UM DATAFRAME APENAS COM AS INFORMAÇÕES NUMÉRICAS

numeric_columns = []
for coluna in numeric_df.columns:   # CRIA UMA LISTA SOMENTE COM AS COLUNAS NUMÉRICAS
    numeric_columns.append(coluna)

display(dados.groupby('duracao_contrato')[numeric_columns].mean())   # MOSTRA O AGRUPAMENTO DA COLUNA 'duracao_contrato' EM RELAÇÃO ÀS COLUNAS NUMÉRICAS, CALCULANDO A MÉDIA DE CADA UMA DELAS

display(dados.groupby('duracao_contrato').count())

,idade,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,total_gasto,meses_ultima_interacao,cancelou
duracao_contrato,,,,,,,,
Annual,38.842165,31.446186,15.880213,3.263401,12.465156,651.697738,14.236107,0.460760
Monthly,41.552407,30.538555,15.499274,4.985649,15.007267,550.616435,15.478012,1.000000
Quarterly,38.830938,31.419916,15.886662,3.265245,12.460863,651.427783,14.234544,0.460255

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,total_gasto,meses_ultima_interacao,cancelou
duracao_contrato,,,,,,,,,,
Annual,354395,354395,354395,354395,354395,354395,354395,354395,354395,354395
Monthly,174205,174205,174205,174205,174205,174205,174205,174205,174205,174205
Quarterly,353059,353059,353059,353059,353059,353059,353059,353059,353059,353059

In [ ]:
# PERCEBEMOS AQUI QUE A MÉDIA DE CANCELAMENTO DAQUELES COM CONTRATO MENSAL É 100%, OU SEJA, TODOS DO CONTRATO MENSAL CANCELAM